In [60]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier as RFC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_scorefrom sklearn.metrics import accuracy_score

In [61]:
df = pd.read_csv('Datasets/amazon/amazon_review_ID.shuf.lrn.csv')
df.head()

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V9992,V9993,V9994,V9995,V9996,V9997,V9998,V9999,V10000,Class
0,0,8,6,10,6,7,2,2,2,3,...,1,0,0,0,0,0,0,0,0,Chell
1,1,13,1,13,9,8,8,2,3,2,...,4,1,2,1,0,1,0,0,0,Engineer
2,2,16,7,6,7,9,3,4,2,6,...,0,0,0,0,1,0,0,0,0,Grove
3,3,8,11,10,11,3,7,0,4,2,...,0,0,1,0,0,0,2,1,0,Davisson
4,4,10,11,8,5,3,4,2,5,5,...,0,0,0,0,0,0,0,0,0,Wilson

In [66]:
#scaled_features = StandardScaler().fit_transform(df.loc[:,'V1':'V10000'].values)
#X_train = pd.DataFrame(scaled_features, index=df.loc[:,'V1':'V10000'].index, columns=df.loc[:,'V1':'V10000'].columns)
X_lrn = df.loc[:,'V1':'V10000']
scaled_features = StandardScaler().fit_transform(X_lrn.values)
X_lrn = pd.DataFrame(scaled_features, index=X_lrn, columns=X_lrn)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V9991,V9992,V9993,V9994,V9995,V9996,V9997,V9998,V9999,V10000
0,8,6,10,6,7,2,2,2,3,2,...,0,1,0,0,0,0,0,0,0,0
1,13,1,13,9,8,8,2,3,2,4,...,0,4,1,2,1,0,1,0,0,0
2,16,7,6,7,9,3,4,2,6,5,...,0,0,0,0,0,1,0,0,0,0
3,8,11,10,11,3,7,0,4,2,1,...,2,0,0,1,0,0,0,2,1,0
4,10,11,8,5,3,4,2,5,5,4,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,9,8,5,5,6,2,14,1,4,5,...,0,0,1,0,0,1,0,1,0,0
746,6,13,4,6,8,2,7,3,3,2,...,0,0,0,0,0,1,0,0,0,1
747,16,11,4,9,9,4,0,3,5,0,...,0,0,0,0,0,0,1,1,0,4
748,9,5,4,2,3,7,2,7,1,1,...,0,0,0,0,0,0,2,0,0,0
749,11,2,7,3,10,2,2,3,5,5,...,0,0,0,0,2,1,0,0,0,0

In [67]:
Y_lrn = df.loc[:,'Class':'Class']
Y_lrn

        Class
0       Chell
1    Engineer
2       Grove
3    Davisson
4      Wilson
..        ...
745     Riley
746      Neal
747   Messick
748  Mitchell
749    Comdet

[750 rows x 1 columns]

In [64]:
X_test = pd.read_csv('Datasets/amazon/amazon_review_ID.shuf.tes.csv').drop('ID', axis=1)
X_test.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V9991,V9992,V9993,V9994,V9995,V9996,V9997,V9998,V9999,V10000
0,15,10,6,7,9,3,3,3,1,1,...,0,0,1,1,0,0,0,0,0,0
1,8,10,7,2,5,7,2,5,3,3,...,0,4,0,0,0,0,0,2,1,0
2,18,9,7,8,8,7,12,6,7,1,...,0,0,1,0,0,0,1,0,0,1
3,6,5,4,2,4,1,1,1,0,3,...,0,2,0,0,0,0,0,1,0,0
4,9,3,2,5,9,3,0,3,2,4,...,0,0,0,0,0,0,0,1,0,0

# RandomForestClassifier for Amazon Review Dataset

In [68]:
X_train, X_valid, Y_train, Y_valid = train_test_split(X_lrn, Y_lrn, test_size=.4)

In [97]:
num_threads = 3
scores = []

for feats in np.linspace(0.1,1,10):
    print("#"*40)
    print("max_features:", feats)
    rf = RFC(n_jobs=num_threads,n_estimators=400, max_features=feats, bootstrap=True, oob_score=True)
    rf.fit(X_train, Y_train)
    print("oob score:", rf.oob_score_)
    rf.get_params()
    Y_pred = rf.predict(X_valid)
    score = accuracy_score(Y_valid, Y_pred)
    print(f"number of validation samples: {X_valid.shape[0]}")
    print(f"accuracy: {score*100:.2f}% --> {accuracy_score(Y_valid, Y_pred, normalize=False)}")
    scores.append(score)
else:
    print("-"*40)

########################################
max_features: 0.1
oob score: 0.5422222222222223
number of validation samples: 300
accuracy: 55.00% --> 165
########################################
max_features: 0.2
oob score: 0.5222222222222223
number of validation samples: 300
accuracy: 53.33% --> 160
########################################
max_features: 0.30000000000000004
oob score: 0.5333333333333333
number of validation samples: 300
accuracy: 53.00% --> 159
########################################
max_features: 0.4
oob score: 0.5511111111111111
number of validation samples: 300
accuracy: 52.33% --> 157
########################################
max_features: 0.5
oob score: 0.5511111111111111
number of validation samples: 300
accuracy: 51.33% --> 154
########################################
max_features: 0.6
oob score: 0.5222222222222223
number of validation samples: 300
accuracy: 50.00% --> 150
########################################
max_features: 0.7000000000000001
oob score: 0.5511111111111111
number of validation samples: 300
accuracy: 52.33% --> 157
########################################
max_features: 0.8
oob score: 0.5333333333333333
number of validation samples: 300
accuracy: 50.33% --> 151
########################################
max_features: 0.9
oob score: 0.5355555555555556
number of validation samples: 300
accuracy: 50.67% --> 152
########################################
max_features: 1.0
oob score: 0.5377777777777778
number of validation samples: 300
accuracy: 49.67% --> 149
----------------------------------------

In [124]:
rf = RFC(n_jobs=num_threads, n_estimators=800, max_features="auto", min_samples_split=2, min_samples_leaf=1, max_depth=40, bootstrap=True, oob_score=True)
rf.fit(X_train, Y_train)
print("oob score:", rf.oob_score_)
rf.get_params()
Y_pred = rf.predict(X_valid)
score = accuracy_score(Y_valid, Y_pred)
print(f"number of validation samples: {X_valid.shape[0]}")
print(f"accuracy: {score*100:.2f}% --> {accuracy_score(Y_valid, Y_pred, normalize=False)}")

oob score: 0.5444444444444444
number of validation samples: 300
accuracy: 55.67% --> 167

## Summary first try

A (pretty much) default RandomForestClassifier reaches an accuracy of ~42%...not that great.
Let's see if we can tweak it a bit...

In [ ]:
plt.figure(figsize=(15,8))
plt.plot(range(1,51), error_rate, color='blue', linestyle='dashed', marker='o', markerfacecolor='red', markersize=10)
plt.title('Error rate vs k-Value')
plt.xlabel('k-Value')
plt.ylabel('Error rate')

In [ ]:
from sklearn.model_selection import GridSearchCV
params = {'n_neighbors': range(1, 51)}

knn = KNeighborsClassifier()

model = GridSearchCV(knn, params, cv=10)
model.fit(X_train, y_train)
print("Best k-Value is: ", model.best_params_['n_neighbors'])

In [ ]:
pred = model.predict(X_test)

In [ ]:
solution_data = list(zip(list(range(750,1500)), pred))

In [ ]:
solution_table = pd.DataFrame(solution_data, columns=['ID', 'Class'])
solution_table.head()