In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

from sklearn.neural_network import MLPClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from sklearn.pipeline import make_pipeline

from sklearn.preprocessing import StandardScaler

In [4]:
df = pd.read_csv('Datasets/amazon/amazon_review_ID.shuf.lrn.csv')
df.head()

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V9992,V9993,V9994,V9995,V9996,V9997,V9998,V9999,V10000,Class
0,0,8,6,10,6,7,2,2,2,3,...,1,0,0,0,0,0,0,0,0,Chell
1,1,13,1,13,9,8,8,2,3,2,...,4,1,2,1,0,1,0,0,0,Engineer
2,2,16,7,6,7,9,3,4,2,6,...,0,0,0,0,1,0,0,0,0,Grove
3,3,8,11,10,11,3,7,0,4,2,...,0,0,1,0,0,0,2,1,0,Davisson
4,4,10,11,8,5,3,4,2,5,5,...,0,0,0,0,0,0,0,0,0,Wilson

In [5]:
X_lrn = df.loc[:,'V1':'V10000']
Y_lrn = df.loc[:,'Class':'Class']

In [6]:
Class_description = []
Class_description = pd.unique(df.Class)

for i in range(len(Class_description)):
    df.Class[df.Class == Class_description[i]] = i+1

In [7]:
X_lrn = df.loc[:,'V1':'V10000']
Y_lrn = df.loc[:,'Class':'Class'].astype(float)
Y_lrn

     Class
0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
..     ...
745   22.0
746   34.0
747   45.0
748   13.0
749   49.0

[750 rows x 1 columns]

In [8]:
X_test = pd.read_csv('Datasets/amazon/amazon_review_ID.shuf.tes.csv').drop('ID', axis=1)
X_test.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V9991,V9992,V9993,V9994,V9995,V9996,V9997,V9998,V9999,V10000
0,15,10,6,7,9,3,3,3,1,1,...,0,0,1,1,0,0,0,0,0,0
1,8,10,7,2,5,7,2,5,3,3,...,0,4,0,0,0,0,0,2,1,0
2,18,9,7,8,8,7,12,6,7,1,...,0,0,1,0,0,0,1,0,0,1
3,6,5,4,2,4,1,1,1,0,3,...,0,2,0,0,0,0,0,1,0,0
4,9,3,2,5,9,3,0,3,2,4,...,0,0,0,0,0,0,0,1,0,0

In [64]:
X_train, X_valid, Y_train, Y_valid = train_test_split(X_lrn, Y_lrn, test_size=0.8)

In [65]:
from sklearn.preprocessing import StandardScaler  # doctest: +SKIP
scaler = StandardScaler()  # doctest: +SKIP
# Don't cheat - fit only on training data
scaler.fit(X_train)  # doctest: +SKIP
X_train = scaler.transform(X_train)  # doctest: +SKIP
# apply same transformation to test data
X_valid = scaler.transform(X_valid)  # doctest: +SKIP

In [66]:
clf = MLPClassifier(max_iter=500)
#clf = MLPClassifier(hidden_layer_sizes=(500,500,500), max_iter=300, alpha=i,solver='sgd', verbose=10,  random_state=21,tol=0.000000001,activation=j)
clf.fit(X_train, Y_train)
Y_pred = clf.predict(X_valid)
print(accuracy_score(Y_valid, Y_pred))

0.20666666666666667

In [22]:
alphas = [1e-5,1e-4,1e-3,1e-2,1e-1,0,1,10,100]
modes = ["identity","logistic","tanh","relu"]
solv = ["adam","sgd","lbfgs"]

alphas = [1e-5,1e-4,1e-3,1]
modes = ["relu"]
solv = ["adam"]
h = [11,50,100,200,300,400]

erg = []
for g in h:
    for i in alphas:
        for j in modes:
            for k in solv:
                clf = MLPClassifier(hidden_layer_sizes=(g), max_iter=500, alpha=i,solver=k,activation=j)
                clf.fit(X_train, Y_train)
                Y_pred = clf.predict(X_valid)
                print("Hidden layers: ",g,"alpha: ",i,"mode: ",j,"solver: ",k,"score: ",accuracy_score(Y_valid, Y_pred))
                erg.append("alpha:")
                erg.append(i)
                erg.append("mode:")
                erg.append(j)
                erg.append("solver:")
                erg.append(k)
                erg.append("score:")
                erg.append(accuracy_score(Y_valid, Y_pred))
    print("")

Hidden layers:  11 alpha:  1e-05 mode:  relu solver:  adam score:  0.15333333333333332
Hidden layers:  11 alpha:  0.0001 mode:  relu solver:  adam score:  0.17666666666666667
Hidden layers:  11 alpha:  0.001 mode:  relu solver:  adam score:  0.13666666666666666
Hidden layers:  11 alpha:  1 mode:  relu solver:  adam score:  0.23

Hidden layers:  50 alpha:  1e-05 mode:  relu solver:  adam score:  0.33666666666666667
Hidden layers:  50 alpha:  0.0001 mode:  relu solver:  adam score:  0.31
Hidden layers:  50 alpha:  0.001 mode:  relu solver:  adam score:  0.24333333333333335
Hidden layers:  50 alpha:  1 mode:  relu solver:  adam score:  0.55

Hidden layers:  100 alpha:  1e-05 mode:  relu solver:  adam score:  0.33
Hidden layers:  100 alpha:  0.0001 mode:  relu solver:  adam score:  0.33
Hidden layers:  100 alpha:  0.001 mode:  relu solver:  adam score:  0.3566666666666667
Hidden layers:  100 alpha:  1 mode:  relu solver:  adam score:  0.6033333333333334

Hidden layers:  200 alpha:  1e-05 mode:  relu solver:  adam score:  0.44333333333333336
Hidden layers:  200 alpha:  0.0001 mode:  relu solver:  adam score:  0.37666666666666665
Hidden layers:  200 alpha:  0.001 mode:  relu solver:  adam score:  0.3933333333333333
Hidden layers:  200 alpha:  1 mode:  relu solver:  adam score:  0.5933333333333334

Hidden layers:  300 alpha:  1e-05 mode:  relu solver:  adam score:  0.4166666666666667
Hidden layers:  300 alpha:  0.0001 mode:  relu solver:  adam score:  0.4266666666666667
Hidden layers:  300 alpha:  0.001 mode:  relu solver:  adam score:  0.4666666666666667
Hidden layers:  300 alpha:  1 mode:  relu solver:  adam score:  0.61

Hidden layers:  400 alpha:  1e-05 mode:  relu solver:  adam score:  0.4
Hidden layers:  400 alpha:  0.0001 mode:  relu solver:  adam score:  0.4266666666666667
Hidden layers:  400 alpha:  0.001 mode:  relu solver:  adam score:  0.42
Hidden layers:  400 alpha:  1 mode:  relu solver:  adam score:  0.5933333333333334

In [29]:
#Hidden Layers=300 alpha=1 mode=relu solver=adam score=0.61

list

In [67]:
CE = clf.predict_proba(X_valid)
CE.shape

(600, 47)